.SingleSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid blue;
    height: 8px;
    width: 8px;
    font-size: 1.5rem;
}

.SingleSquare_highlighted {
    background-color: rgb(138, 207, 138);
}