.Backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    background-color: rgba(189, 189, 189, 0.575);
    height: 100vh;
    width: 100vw;
}